<h1>Create a new recipe entry</h1>

<form action="/recipes" method="post">
  <label for="name">Recipe Name :</label><br>
  <input type="text" id="name" name="name"><br><br>

  <label for="description">Recipe Description :</label><br>
  <textarea id="description" name="description" rows="2" cols="50"></textarea><br><br>

  <input type="submit" value="Create">
</form>
